@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif ;
}

.footer-content{
    text-align: center;
    justify-content: center;
    background-color: #000;
}
#footer-title{
    color: #fff;
}
#logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #dcdcdc;
   background-position: center;
   background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(0, 139, 139, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 60px;
}
h2{
    font-size: 2em;
    color: #000;
    text-align: center;
}
.imputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #000;
    padding-top: 1em;
}
.imputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label
{
top: -5px;
}
.imputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #000;
}
.imputbox ion-icon{
position: absolute;
right: 8px;
color: #000;
font-size: 1.2em;
top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #000;
    display: flex;
    justify-content: space-between;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color: #000;
    text-decoration: none;
    padding: 10px;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
   background: #228b22;
   border: none;
   outline: none;
   cursor: pointer;
   font-size: 1em;
   font-weight: 600;
}
#registrar{
         background: #b22222;
}
.registrar{
   margin: 5px 0 10px;
    width: 100%;
    height: 40px;
    border-radius: 40px;
   border: none;
   outline: none;
   cursor: pointer;
   font-size: 1em;
   font-weight: 600;
  text-align: center;
}
.registrar p a{
    text-decoration: none;
    color:#000;
    font-weight: 600;
    padding: 10px;
    
}
.registrar p a:hover{
    text-decoration: underline;
}